{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for item in dataCart %}
                {# CARD #}
                {%  include '/base/card.html.twig' with {article : item.article, quantity : item.quantity} only  %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

