{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {# CONTENU #}
    <div class="container">
        <div class="row">
            {% for article in dataArticles %}
                {# CARD #}
                {%  include '/base/card.html.twig' with {"article" : article, "quantity" : 0} only  %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
